<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style>
        .fs-1 {
            font-size: 250px;
        }
        .fs-2 {
            font-size: 50px;
        }
    </style>
    <title>Page Not Found</title>
</head>
<body>
    <div class="row"><div class="col-sm-12 display-1 text-center"><p class="fs-1">404</p></div></div>
    <div class="row"><div class="col-sm-12 display-1 text-center"><p class="fs-2">Page Not Found</p></div></div>

</body>
</html>