<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>RECEIPT</title>
</head>
<body>
    <header>
        <div class="text-center container bg-primary">
            <a href="/home">
                <h1>
                    {{SNAME}}<br />
                    {{SADDRESS}}
                </h1>
            </a>
        </div>
    </header>
    <form action="/submitReceipt" method="POST">
        <input type="hidden" name="receiptNo" value="{{receiptNo}}">
        <div class="row m-5 form-group">
            <label>Name: </label>
            <input class="form-control" name="name" required>
        </div>
        <div class="row m-5 form-group">
            <label>Address: </label>
            <input class="form-control" name="address">
        </div>
        <div class="row m-5 form-group">
            <label>Amount: </label>
            <input class="form-control" name="amount" required>
        </div>
        <div class="row m-5">
            <button class="btn btn-success col-sm-12">SUBMIT</button>
        </div>
    </form>
</body>
</html>